
#head{
   
    background-color: rgb(125, 160, 125);
    margin-left: 2px;
    top: 1px;
    font-style: normal;
    font-weight: bolder;
  

}
#tit p{
  display: inline;
    font-size: 20px;
}

#topp, #lunch, #payment{

 
  
    text-decoration: underline;
    font-weight: bolder;
}
#firstname:after, #lastname:after, #company:after, #address:after, #email:after, #number:after {
 
  /* display: inline;
   color: #e32;
   content: ' *';
   display:inline;*/
 
   content: "*";
   margin:0 0.5em;
   display:inline-block;
   color:#e32;
  
 
 }
 #firstname, #lastname, #company, #address, #email, #number {
 
  /* display: inline;
   color: #e32;
   content: ' *';
   display:inline;*/
 
  font-weight: bold;
  
 
 }
 

#tite:after{
  content: "";
  margin:0 0.5em;
  display:inline-block;
  border: 7px solid transparent;
  border-top:8px solid rgb(15, 15, 15);
  border-bottom:0 none;
}

#more{

  font-size: 15px;

}
#headselect{

    display: inline;
    width: 10px;
    background-color: rgb(10, 10, 10);
  
   
    
    
}


#left{
  
    left: 20px;
    width: 300px;
    padding: 50px;
    top: 20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    position: fixed;
    

}

#right {
  
    right: 380px;
    width: 300px;
    padding: 10px;
    top: 80px;
    position: -webkit-sticky; /* Safari */
  position: sticky;
  position: fixed;
   
  }
 
  #bottomcenter{
   position: absolute;
  width: 100%;
  display: flex;
  justify-content: center; 
  bottom: 0px; 
  background-color: rgb(173, 177, 176);
 
    

  }
  #submit, #reset{
    color: rgb(223, 230, 225);

  }
  form  {
    font-weight:bold;
    width: auto;
    }
    #left > #topp {
        font-weight:bold;
        text-underline-position: below;
    }
    form > div > #firstname {
        font-weight:bold;
    }

    select {
     
      width: 50%;
      max-width: 100%;
      margin: 0;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .10em top 50%, 0 0;
      background-size: .60em auto, 100%;
    }
    select::-ms-expand {
      display: none;
    }
    
  
    select option {
      font-weight:normal;
    }
    button{
        background-color: cadetblue;
        margin-left: 5px;

    }




       
    

 
 
