span{

    font-weight: bold;
    font-style: italic;

}

h3{
    font-family:Arial;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: green;
}

.special{
    background-color:brown;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: cornsilk;

}
.hyper1{
     text-decoration: none;
    color: red;
    
}
.hyper2{
     text-decoration: none;
    color: red;
    
}
.hyper3{

    text-decoration: none;
    color: red;


}
p::first-letter{

     
    font-size: xx-large;
    

}
h3::first-letter{
    font-size: xx-large;

}


.hyper1:hover{
     text-decoration: underline;
    
}
.hyper2:hover{
         text-decoration: underline;
        
}
.hyper3:hover {
    
    text-decoration: underline;
  }
.cssvalidator{
       width: 10%;
    height: auto;
     
}
.htmlvalidator{
    width: 10%;
    height: auto;
  }

  body{
    background-color: gainsboro;
     
  }
ol { 
    display: flex;
    flex-direction: column-reverse;
}





